
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta name="server-type" content="{{ server_type }}">
  <title>All GIF List</title>
  <!-- {% load static %} -->
  <script>
        let serverType = "{{ server_type }}";
        let stylesheet = document.createElement('link');
        stylesheet.rel = 'stylesheet';
        stylesheet.type = 'text/css';
        let scriptJs = document.createElement('script');
        if (serverType === "django") {
          stylesheet.href = "{% static 'styles.css' %}";
          let scriptDjango = document.createElement('script');
          scriptDjango.src = "{% static 'script_django.js' %}";
          document.head.appendChild(scriptDjango);
          scriptJs.src = "{% static 'script.js' %}";
        } else {
          stylesheet.href = "/public/styles.css";
          let scriptExpress = document.createElement('script');
          scriptExpress.src = "/public/script_express.js";
          document.head.appendChild(scriptExpress);
          scriptJs.src = "/public/script.js";
        }
        scriptJs.onload = function () {
          csrfToken = getCsrfToken();
          displayGifList();
      };
        document.head.appendChild(stylesheet);
        document.head.appendChild(scriptJs);
  </script>
</head>
<body>
  <div id="tabs">
    <button class="tab-button active-tab" data-tab="main" onclick="showTab('main')">Main</button>
    <button class="tab-button" data-tab="comaruFamily" onclick="showTab('comaruFamily')">Comaru Family</button>
    <button class="tab-button" data-tab="pig" onclick="showTab('pig')">Pig</button>
    <button class="tab-button" data-tab="arctic_vixen" onclick="showTab('arctic_vixen')">Arctic Vixen</button>
    <button class="tab-button" data-tab="others" onclick="showTab('others')">Others</button>
    
    <button class="tab-button" data-tab="searchByName" onclick="showTab('searchByName')">Search by name</button>
    <button class="tab-button" data-tab="searchByAttributes" onclick="showTab('searchByAttributes')">Search by attributes</button>
    <button class="tab-button" data-tab="modGif" onclick="showTab('modGif')">Modify Gifs</button>
  </div>


  <div id="ViewAndDownloadGIFForm" style="display: block;">
    <h2>View and Download GIF</h2>
    <input type="text" id="gifIdInput" placeholder="GIF ID">
    <input type="text" id="downloadFileNameInput" name="filename" placeholder="Enter file name (in Latin)">
    <button onclick="openGif()">Open GIF</button>
    <button onclick="downloadGif()">Download GIF</button>
        
    <video id="" controls class="styled-video" style="display: none;"></video>
    <img id="gifImage" style="display: none;">
    <div id="gifAttributes"></div>
    <div id="gifName"></div>
  </div>

  <div id="zoomControls">
    <button onclick="zoomIn()">Zoom In</button>
    <button onclick="zoomOut()">Zoom Out</button>
    <button onclick="resetZoom()">Reset Zoom</button>
  </div>
    
  <div class="gif-container" id="allGifContainer" style="display: block;">
    <h2>List of GIFs</h2>
    <div class="gif-columns">
      <ul id="gifList"></ul>
    </div>
  </div>
</body>
</html>

