
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search GIF by name</title>
  <!-- Підключення стилів -->
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
  <!-- Підключення скрипту -->
  <script src="/public/script.js"></script>
</head>
<body>
  <div id="tabs">
    <button class="tab-button" data-tab="main" onclick="showTab('main')">Main</button>
    <button class="tab-button" data-tab="comaruFamily" onclick="showTab('comaruFamily');displayComaruGifList()">Comaru Family</button>
    <button class="tab-button" data-tab="pig" onclick="showTab('pig')">Pig</button>
    <button class="tab-button" data-tab="arctic_vixen" onclick="showTab('arctic_vixen')">Arctic Vixen</button>
    <button class="tab-button" data-tab="others" onclick="showTab('others')">Others</button>
    
    <button class="tab-button active-tab" data-tab="searchByName" onclick="showTab('searchByName')">Search by name</button>
    <button class="tab-button" data-tab="searchByAttributes" onclick="showTab('searchByAttributes')">Search by attributes</button>
    <button class="tab-button" data-tab="modGif" onclick="showTab('modGif')">Modify Gifs</button>
  </div>

  <div id="ViewAndDownloadGIFForm" style="display: block;">
    <h2>View and Download GIF</h2>
    <input type="text" id="gifIdInput" placeholder="GIF ID">
    <input type="text" id="downloadFileNameInput" placeholder="Enter file name (in Latin)">
    <button onclick="openGif()">Open GIF</button>
    <button onclick="downloadGif()">Download GIF</button>
        
    <video id="" controls class="styled-video" style="display: none;"></video> <!-- <video> для відображення GIF з класом "styled-video" -->
    <img id="gifImage" style="display: none;"> <!-- <img> для відображення GIF -->
    <div id="gifAttributes"></div>
    <div id="gifName"></div>
  </div>

  <div id="searchByNameTabContent" style="display: block;">
    <input type="text" id="searchByNameInput" placeholder="Enter GIF name">
    <button onclick="searchByName()">Search</button>
  </div>

  <div id="zoomControls">
    <button onclick="zoomIn()">Zoom In</button>
    <button onclick="zoomOut()">Zoom Out</button>
    <button onclick="resetZoom()">Reset Zoom</button>
  </div>
    
  <!-- Блок для відображення списку гіфок -->
  <div class="gif-container" id="allGifContainer" style="display: block;">
    <h2>List of GIFs</h2>
    <div class="gif-columns">
      <ul id="gifList"></ul>
    </div>
  </div>

  <script>
    function searchByName() {
      const searchInput = document.getElementById('searchByNameInput');
      const searchTerm = searchInput.value;

      fetch(`/search-by-name/${searchTerm}`)
        .then(response => response.json())
        .then(data => {
          const gifList = document.getElementById('gifList');
          gifList.innerHTML = '';

          if (data.length > 0) {
            data.forEach(gif => {
              const listItem = document.createElement('li');
              listItem.innerHTML = `<a href="#" onclick="showGif('${gif._id}')">${gif.filename}</a>`;
              gifList.appendChild(listItem);
            });
          } else {
            gifList.innerHTML = '<li>No matching GIFs found.</li>';
          }
        })
        .catch(error => {
          console.error('Error fetching GIF list:', error);
        });
    }
  </script>
</body>
</html>

